body{
	padding: 0; 
	margin: 0;
	background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
	background-size: cover;
}

.profile{
	position: relative;
	display: block;
	margin-left: 15%;
	margin-bottom: -50px;
	margin-top: 100px;
}

.about_vader{
	margin-top: 300px;
}

.nav_bar{
	height: 75px;
	background: linear-gradient(white, red);
	padding: 0;
	margin: 0;
	box-shadow: 0 0 5px 10px red;
	
}
.logo{
	margin: -5px -25px 15px 20px;
	padding: -5px;
	display: inline;
	color: white;
	height: 75px;
	width: 75px;
}

.navbar{
	display: inline-block;
	list-style-type: none;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

.navigation{
	display: inline-block;
	text: center;
	float: left;
	padding: 30px;
	font-weight: 700;
}

a{
	display: block;
	padding: 8px;
	text-decoration: none;
	color: black;
	
}
a:hover{
	font-weight: 700;	
	color: blue;
}

.credits{
	margin-top: 125px;
	color: white;
}

.intro{
	text-align: center;
	color: white;	
}

aside{
	position: fixed;
	width: 250px;
	overflow: scroll;
	height: 575px;
}

.planets {
	
}

.asidep{
	text-align: center;
	float: center;
}

.caption{
	color: white;
	text-align: center;
}

h1{
	text-align: center;
	color: white;	
}

h3{
	margin-top: 100px;
	color: white;
	margin-right: 35%;
	margin-left: 15%;
}

p{
	margin-right: 35%;
	margin-left: 15%;
	color: white;
}

header{
	margin-top: 75px;
	border-style: solid;
	border-color: white;
	border-width: 5px;
	margin-right: 40%;
	margin-left: 25%;
}

table{
	display: inline-block;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	background: black;
	text-align: center;
	position: relative;
	
	margin: 10px;
	padding: 10px;
}

tr{
	color: white;
}

tr:first-of-type{
	color: red;
}

tr:nth-child(even){
	background: grey;
}

p{
	text-align: center;
}

.yellow-class{
	color: yellow;
}

.tables{
	display: flex-wrap;
}

.1234{
	color: orange;
}